<div class="card mt-2 analysis_wrapper">
    <p>
        <span class="title">Analysis</span>
        <a href="#" data-toggle="tooltip"  data-placement="top" title="Start a New Analysis Job" (click)="refreshPage()">
            <span class="refresh"><i class="fa fa-refresh" aria-hidden="true"></i></span>
        </a>
    </p>

    <div class="analysis_content">
        <div class="hr">
            <app-check-examples></app-check-examples>
        </div>
        <!--<hr>-->
        <div class="">
            <app-do-analysis class="size"></app-do-analysis>
        </div>
    </div>
</div>