
<div class="material-like" style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);">
<div class="row ">
    <div class="col-md-4 ">
        <app-conf-score-chart></app-conf-score-chart>
    </div>
    <div class="col-md-4 ">
        <app-cluster-ratio-chart></app-cluster-ratio-chart>
    </div>
    <div class="col-md-4 ">
        <app-cluster-size-chart></app-cluster-size-chart>
    </div>
</div>
</div>

<div class="row">
    <app-psm-tables [psmType]="'negscore'"></app-psm-tables>
</div>


