<div class="row">
    <div class="col-md-4">
        <app-conf-score-chart></app-conf-score-chart>
    </div>
    <div class="col-md-4">
        <app-cluster-ratio-chart></app-cluster-ratio-chart>
    </div>
    <div class="col-md-4">
        <app-cluster-size-chart></app-cluster-size-chart>
    </div>
</div>

<div class="row">
    <app-psm-tables></app-psm-tables>
</div>

<div class="row">
    <div class="col-md-6">
        <app-cluster-spectra-table></app-cluster-spectra-table>
    </div>
    <div class="col-md-6">
        <app-spectra-comparer></app-spectra-comparer>
    </div>
</div>