.mt-2 {
  margin-top: 2em !important;
  margin-bottom: 10px;
}

.ml-2 {
  margin-top: 2em !important;
  margin-left: 3%!important;
  margin-right: 3%!important;
}
@media screen and (min-width: 1060px)and(max-width:1188px){
  .ml-2{
    margin-right: 0px!important;
  }
  
}

@media screen and (max-width: 1060px){
  .ml-2{
    margin-left: 25%!important;
    margin-right: 0%!important;
  }
  
}
@media screen and (max-width: 476px){
  .ml-2{
    margin-left: 20%!important;
    margin-right: 20%!important;
  }
  
}