.mt-2 {
  margin-top: 2em !important;
  margin-bottom: 10px;
}

.ml-2 {
  margin-top: 2em !important;
  margin-left: 5%!important;
  margin-right: 5%!important;
}
@media screen and (min-width: 1120px)and(max-width:1188px){
  .ml-2{
    margin-right: 0px!important;
  }
  
}
@media screen and (min-width: 1024px)and(max-width:1120px){
  .ml-2{
    margin-left: 2%!important;
    margin-right: 1%!important;
  }
  
}
@media screen and (max-width: 1024px){
  .ml-2{
    margin-left: 25%!important;
    margin-right: 0%!important;
  }
  
}
@media screen and (max-width: 476px){
  .ml-2{
    margin-left: 20%!important;
    margin-right: 20%!important;
  }
  
}