<h2>
  Check Examples
</h2>

<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
   PRIDE Projects
  </button>

  <div class="dropdown-menu dropdown-primary">
    <a class="dropdown-item" href="#">PXD000021</a>
    <a class="dropdown-item" href="#">PXD000022</a>
    <a class="dropdown-item" href="#">PXD000023</a>
    <a class="dropdown-item" href="#">PXD000024</a>
    <a class="dropdown-item" href="#">PXD000025</a>
    <div class="divider dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<!--<div class="row">-->
    <!--<mdb-select [options]="colorSelect" placeholder="Choose your option" class="colorful-select dropdown-primary"></mdb-select>-->
    <!--<label>Blue select</label>-->
<!--</div>-->
