<!--<h2>
 &lt;!&ndash;Input PRIDE project ID or Upload files to analyze.&ndash;&gt;
    Upload files to analyze.
</h2>-->
<div class="file-wrapper">
    <!--<div class="row" style="margin-left: 6px; " hidden="hidden" >
        <input class="mb-2 mr-sm-2 mb-sm-0" id="input_pride_project"  placeholder="PRIDE Project ID" disabled="disabled" hidden="hidden">
    </div>-->

    <div class="file-content">
        <app-upload-files>  </app-upload-files>
    </div>
    <div class="">
        <app-set-parameters> </app-set-parameters>
    </div>
</div>
