.page-footer {
  width: 100%;
  background: #fff;
  color: #212529;
  height: 80px;
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 14px;
  margin-top: 0;
  overflow: hidden;
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  .message {
    font-size: 13px;
  }
  a {
    color: #27b6f0;
    &:hover {
      color: #27b6f0;
      text-decoration: underline;
    }
  }
  .links {
    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.mdb-color{
	min-width:1280px;
}
@media screen and (max-width: 991px){
  .mdb-color{
    min-width: auto;
  }
  
}