<!--Footer-->
<footer class="page-footer">

    <!--Footer Links-->
    <div class="container">
        <div class="row" style="padding-top: 10px;">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Contact the admin</h5>
                <p>Please sent email to baimingze#gmail.com (please repclace # with @) to get help or give your suggestions/comments.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6 links" style="text-align: right;">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="https://www.ebi.ac.uk/pride/cluster/">Pride Cluster</a></li>
                    <li><a href="https://www.ebi.ac.uk/pride/archive/">Pride Archive</a></li>
                    <li><a href="http://www.ncpsb.org">NCPSB</a></li>
                    <li><a href="http://www.ebi.ac.uk">EBI</a></li>
                    <div class="container-fluid">
                        © 2017 Copyright: <a href="https://enhancer.ncpsb.org">http://enhancer.ncpsb.org</a>
                    </div>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <!--<div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://enhancer.ncpsb.org">http://enhancer.ncpsb.org</a>
        </div>
    </div>-->
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
