.btn-group .waves-light{
    background-color: #45526E!important;
    margin: 6px 6px;
}
.waves-light:hover,.waves-light:focus{
    background-color:  rgba(69, 82, 110, 0.8)!important;
    margin: 6px 6px;
}