<div *ngIf="showHis" style="display: block">
    <ngx-charts-bar-vertical-stacked
            [view]="view"
            [scheme]="colorScheme"
            [customColors]="customColors"
            [results]="histBinsResolved"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [barPadding]="barPadding"
            [activeEntries]="activeEntries"
            (select)="onSelect($event)"
            (activate)="onActivate($event)">
        <ng-template #tooltipTemplate let-model="model">
            <p style="margin:1px 0 0 0;">{{model.name}}</p>
            <p style="margin:1px 0 0 0;">{{model.value}}</p>
            </ng-template>
    </ngx-charts-bar-vertical-stacked>
</div>
