<div style="display: block">
    <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [customColors]="customColors"
            [results]="histBins"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [barPadding]="barPadding"
            [activeEntries]="activeEntries"
            (select)="onSelect($event)"
            (activate)="onActivate($event)">
    </ngx-charts-bar-vertical>
</div>
