
<!-- Image and text -->
<div class="mdb-color">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark app-navbar">
   <logo>
      <a class="navbar-brand" href="#">
         <img src="/assets/img/PhoenixEnhancer.png" height="30" class="d-inline-block align-top" alt="">
         <!--Phoenix Enhancer-->
      </a>
   </logo>
   <links>
      <div class="nav">
         <ul >
         <li class=""   >
            <a class="" [ngClass]="getClass('index')" routerLink="/index" >Home <span class="sr-only">(current)</span></a>
         </li>
         <li class=""   >
            <a class="" [ngClass]="getClass('low_conf')" routerLink="/low_conf/{{projectId}}">Low Confident</a>
         </li>
         <li class=""   >
            <a class="" [ngClass]="getClass('high_conf')" routerLink="/high_conf/{{projectId}}">High Confident</a>
         </li>
         <li class=""   >
            <a class="" [ngClass]="getClass('new_id')" routerLink="/new_id/{{projectId}}">New Identified</a>
         </li>
      </ul>
      </div>

   </links>
</mdb-navbar>
</div>
