.slide-btn{
    position: fixed;
    left: 15px;
    right: 15px;
    z-index: 999;
    top: 0px;

}
.position{
    padding-left: 20%!important;
    padding-right: 20%!important;
}

.activePage{
    color:lightcoral!important;
}
.deactivePage {
    color:white!important;
}

.nav ul {
    list-style: none;
    //background-color: #282d31;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: "Open Sans", sans-serif;
    font-size: 0.5em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #019fc2;
}

.nav a.active {
    background-color: #f7f8fa;
    color:red;
    cursor: default;
}

/* Because Codepin haha */
@media screen and (min-width: 900px) {
    .nav li {
        width: 130px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.0em;
    }

    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

}
