.slide-btn{
    position: fixed;
    z-index: 999;
    top: 0px;
    width:100%;


}
.slide-btn mdb-navbar{
	display:none;
}
.position{
    padding-left: 20%!important;
    padding-right: 20%!important;
}

.activePage{
    color:lightcoral!important;
}
/*.deactivePage {
    color:white!important;
}
*/
.nav ul {
    list-style: none;
    //background-color: #282d31;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
/*
.nav li {
    font-family: "Open Sans", sans-serif;
    font-size: 0.5em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #019fc2;
}

.nav a.active {
    background-color: #f7f8fa;
    color:red;
    cursor: default;
}
*/
/* Because Codepin haha
@media screen and (min-width: 900px) {
    .nav li {
        width: 130px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.0em;
    }

    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
 */
.mdb-color{
	min-width:1280px;
	background-color:#5d6576!important;
}
.navbar-brand{
	display: inline-flex;
}
mdb-navbar{
	line-height:80px;
}
.nav{
	
	width: 100%;
    margin: 0 auto;
    background-color: #f7f7f7;
    height: 39px;
    border-bottom: 2px solid #45526E;
    position: relative;
    z-index: 999 !important;

}
nav,navbar-nav,links{
	width:100%;
}
ul{
	display:block;
    width: 1280px;
    overflow: hidden;
}
.nav ul li{
	float: left;
    text-align: center;
    padding: 0;
    min-width: 120px;
    margin-right: 120px;
    border-top: none;
}
.nav ul li a{
    height:37px;
    line-height:37px; 
	width:100%;
	display: inline-block;
    transition: 300ms;
     color:#333;
     font-weight:400;
}
.activePage a{
	background-color:#45526E;
	
}
.nav a:hover {
    background-color: #45526E;
    color:lightcoral!important;
}

@media screen and (max-width: 991px){
  .mdb-color{
    min-width:620px;
  } 
  .nav ul li{
      margin-left: 30px;
      margin-right: 0px;
  }
}
@media screen and (min-width:991px)and(max-width: 1280px){
    .nav ul li{
        margin-left: 120px;
        margin-right: 0px;
    }
}
 