
<!-- Image and text -->
<div class="mdb-color slide-btn">
    <!--<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark app-navbar">
        <logo>
            <a class="navbar-brand" href="#">
                <img src="/assets/img/PhoenixEnhancer.png" height="30" class="d-inline-block align-top" alt="">
                &lt;!&ndash;Phoenix Enhancer&ndash;&gt;
            </a>
        </logo>
    </mdb-navbar>-->
    <div class="col-md-1"></div>
    <div class="nav navbar-fixed-top col-md-10">
        <!--<div class="navbar-brand logo-wrapper">
            <img src="../../assets/img/enhancer_logo.jpg" alt="" class="logo"><span class="logo-title">Phoenix<span style="color: rgb(39,182,240);">E</span>nhancer</span>
        </div>-->
        <ul class="nav nav-pills">
            <li class="active navbar-brand">
                <div class="logo-wrapper">
                    <img src="../../assets/img/enhancer_logo.jpg" alt="" class="logo"><span class="logo-title">Phoenix<span style="color: rgb(39,182,240);">E</span>nhancer</span>
                </div>
            </li>
            <!--<li class="activePage">
                <a class="" [ngClass]="getClass('index')" routerLink="/index" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="" *ngIf="getPageType() == 'result' || getPageType() == 'index'">
                <a class="" [ngClass]="getClass('low_conf')" routerLink="/low_conf/{{projectId}}">Low Confident</a>
            </li>
            <li class="" *ngIf="getPageType() == 'result' || getPageType() == 'index'">
                <a class="" [ngClass]="getClass('high_conf')" routerLink="/high_conf/{{projectId}}">High Confident</a>
            </li>
            <li class="" *ngIf="getPageType() == 'result' || getPageType() == 'index'">
                <a class="" [ngClass]="getClass('new_id')" routerLink="/new_id/{{projectId}}">New Identified</a>
            </li>
            <li class="" *ngIf="getPageType() == 'appendix'">
                <a class="" [ngClass]="getClass('cluster_details')" routerLink="/cluster_details/{{clusterId}}">Cluster</a>
            </li>
            <li class="" *ngIf="getPageType() == 'job'">
                <a class="" [ngClass]="getClass('job_progress')" routerLink="/job_progress/{{jobToken}}">JobProgress</a>
            </li>
            <li class="" >
                <a class="" [ngClass]="getClass('help')" routerLink="/help">Help</a>
            </li>-->
            <li [ngClass]="getClass('index')">
                <a class="" routerLink="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="" [ngClass]="getClass('low_conf')" *ngIf="getPageType() == 'result' || getPageType() == 'index'">
                <a class="" routerLink="/{{subscribeId.id}}/low_conf">Low Confident</a>
            </li>
            <li class="" [ngClass]="getClass('high_conf')" *ngIf="getPageType() == 'result' || getPageType() == 'index'">
                <a class="" routerLink="/{{subscribeId.id}}/high_conf">High Confident</a>
            </li>
            <li class="" [ngClass]="getClass('new_id')" *ngIf="getPageType() == 'result' || getPageType() == 'index'">
                <a class="" routerLink="/{{subscribeId.id}}/new_id">New Identified</a>
            </li>
            <li class="" [ngClass]="getClass('cluster_details')" *ngIf="getPageType() == 'appendix'">
                <a class="" routerLink="/cluster_details/{{clusterId}}">Cluster</a>
            </li>
            <li class="" [ngClass]="getClass('job_progress')" *ngIf="getPageType() == 'job'">
                <a class="" routerLink="/job_progress/{{jobToken}}">JobProgress</a>
            </li>
            <li class="" [ngClass]="getClass('help')">
                <a class="" routerLink="/help">Help</a>
            </li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>
