@import "../../../../../assets/css/lorikeet.css";
/*add new style*/
.row .dataTables_length label{
    border-left: 10px solid #45526e;
    vertical-align: middle;
    line-height: 37px;
    padding-left: 10px;
   
  
  }
  .row{
      margin-bottom: 10px;
      font-weight: normal;
  }
  #lorikeet{
      padding-bottom:40px;
      
  }
  span{
      vertical-align: middle;
    line-height: 40px;
    font-weight: 600;
  }
[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
 
