
/* .wrapper {
  overflow-x: hidden;
} */
.main-wrapper {
  padding-bottom: 20px;
  min-height: calc(100vh - 140px);
  /* overflow-x: hidden; */
}
@media screen and (max-width: 991px){
  .layout{
    width:auto!important;
  }
  
}