<div class="row cluster-wrapper">
    <div class="col-md-1"></div>
    <div class="cluster-body col-md-10">
        <div class="row card">
            <p class="title-wrapper"><span class="title">Charts</span></p>
            <div class="row cluster-content" style="padding-top: 20px;">
                <div class="col-md-4">
                    <app-sequences-pie-chart id="sequences"   [cluster]="currentCluster" style="display: block; background: #eff3f6;"></app-sequences-pie-chart>
                </div>
                <div class="col-md-4">
                    <app-projects-pie-chart id="project"   [cluster]="currentCluster" style="display: block; background: #eff3f6;"></app-projects-pie-chart>
                </div>
                <div class="col-md-4">
                    <app-species-ratio-chart style="display: block; background: #eff3f6;"></app-species-ratio-chart>
                </div>
            </div>
        </div>
<!--        <div class="row card">-->
<!--            <p class="title-wrapper"><span class="title">Spectra-comparer</span></p>-->
<!--            <div class="row body-wrapper" id='Spectra-comparer' style>-->
<!--                <div class="col-sm-4 col-md-4 col-lg-4">-->
<!--                    <ngx-datatable-->
<!--                            class="material"-->
<!--                            [rows]="spec_rows"-->
<!--                            [columnMode]="'force'"-->
<!--                            [headerHeight]="50"-->
<!--                            [footerHeight]="50"-->
<!--                            [rowHeight]="40"-->
<!--                            [limit]="15"-->

<!--                    >-->
<!--                        <ngx-datatable-column name="title" [width]="280" title="title" >-->
<!--                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>-->
<!--                                <a [popover]="popTemplate"  triggers="mouseenter:mouseleave"  container="body"-->
<!--                                   placement="top"  (click)="onClickSpec(row)">-->
<!--                                    {{value }}-->
<!--                                </a>-->
<!--                                <ng-template #popTemplate>{{row.title}}<div [innerHtml]="html"></div></ng-template>-->
<!--                            </ng-template>-->
<!--                        </ngx-datatable-column>-->
<!--                        <ngx-datatable-column name="charge"></ngx-datatable-column>-->
<!--                        <ngx-datatable-column name="precursorMz" [width]="180"></ngx-datatable-column>-->
<!--                    </ngx-datatable>-->
<!--                </div>-->
<!--                <div  class="col-md-8 material-like " id="material-like">-->
<!--                    <app-cluster-spec-compare [cluster]="currentCluster" [spectrum]="selectedSpectrum" style="float: left;">-->
<!--                    </app-cluster-spec-compare>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="col-md-1"></div>
</div>


