<div>
<div class="row">
    <div class="col-md-4 ">
        <app-histogram-chart 
            [isSortField]="sortField == 'confidentScore'"
            [activedPageValues]="scores" 
            [activedBinRange]="activedConfScoreBinRange" 
            [activedPsm]="activedConfScoreBin" 
            [activedPsmIndex]="activePsmIndex" 
            [histBins]="confScoreHistArray" 
            [dataName]="'ConfidentScore'">
        </app-histogram-chart>
    </div>
    <div class="col-md-4 ">
        <app-histogram-chart
            [isSortField]="sortField == 'clusterRatio'" 
            [activedPageValues]="ratios" 
            [activedBinRange]="activedClusterRatioBinRange" 
            [activedPsm]="activedClusterRatioBin" 
            [activedPsmIndex]="activePsmIndex" 
            [histBins]="clusterRatioHistArray" 
            [dataName]="'ClusterRatio'"></app-histogram-chart>
    </div>
    <div class="col-md-4 ">
        <app-histogram-chart
            [isSortField]="sortField == 'clusterSize'" 
            [activedPageValues]="sizes" 
            [activedBinRange]="activedClusterSizeBinRange" 
            [activedPsm]="activedClusterSizeBin" 
            [activedPsmIndex]="activePsmIndex" 
            [histBins]="clusterSizeHistArray" 
            [dataName]="'ClusterSize'">
        </app-histogram-chart>
    </div>
</div>
</div>

