<div class="row job_wrapper">
  <div class="col-md-11" style="margin: 0 auto;">
    <div class="card job_meesage">
        <div>
          <h4>The progress status of </h4>
          <h3 *ngIf="analysisJob">
            {{analysisJob.accessionId}} - {{analysisJob.token}} : {{analysisJob.status}}
          </h3>
        </div>
        <h3> ---------- </h3>
        <h3>Pipeline Runing Progress:</h3>
        <div id="textInLog" *ngIf="currentPageOfLog">
          <p *ngFor="let line of currentPageOfLog.lines"  class="" >{{line}}</p>
        </div>
    </div>
  </div>
</div>
