<h2 xmlns="http://www.w3.org/1999/html">Set Parameters</h2>

<form role="form">

    <h3 *ngIf="analysisJob">for job: {{analysisJob.accessionId}}</h3>

    <div class="">
        <!--<input class="form-check-input invisible" id="checkbox3" type="checkbox">-->
        <div class="form-group">
        <label class="form-check-label" >
            <!--for="checkbox3">-->
            Minimum Cluster Size：
        </label>
        <input class="mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="minClusterSize" name="minClusterSizeInput" (ngModelChange)="onMinClusterSizeChange($event)" id="minSize" placeholder={{minClusterSize}}>
           <!--Please input your email address:-->
        </div>
        <div class="form-group">
            <label for="emailaddress">Email Address</label>
            <input type="text" class="form-control" id="emailaddress"
                   required
                   [(ngModel)]="userEmailAdd" name="email"
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                   #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
                 class="alert alert-danger">
                <div [hidden]="!email.hasError('required')">Email is required</div>
                <div [hidden]="!email.hasError('pattern')">Email format should be
                    <small><b>joe@abc.com</b></small>
                </div>
            </div>
        </div>

        <div class="form-check abc-checkbox">
            <input class="form-check-input invisible" id="checkbox_make_public" type="checkbox"
                   [(checked)]="makeResultsPublic" (click)="onMakePublicCheck(event)">
            <label class="form-check-label" for="checkbox_make_public">
                Make Public
            </label>
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-lg btn-outline-primary outline" (click)="doAnalysis(content)" [disabled]="!analysisEnabled" >
            Do Analysis
        </button>
    </div>
    <h3> ---------- </h3>
<h3>Check Job Progress</h3>
<input class="mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="analysisJobToken" name="analysisJobTokenInput"  id="tokenInput" placeholder={{analysisJobToken}}>

    <div class="form-row">
        <button class="btn btn-lg btn-outline-primary outline" (click)="checkJobProgress()">
            goCheck
        </button>
    </div>


<h3>Start a New Analysis Job </h3>
    <div class="form-row">
        <button class="btn btn-lg btn-outline-primary outline" (click)="refreshPage()">
           New_Analysis
        </button>
    </div>
</form>


