<h2 xmlns="http://www.w3.org/1999/html">Set Parameters</h2>

<form role="form">

    <h3>for job: {{analysisJobId}}</h3>

    <div class="form-check form-check-inline abc-checkbox">
        <!--<input class="form-check-input invisible" id="checkbox3" type="checkbox">-->
        <label class="form-check-label" >
            <!--for="checkbox3">-->
            Minimum Cluster Size：
        </label>
        <input class="mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="minClusterSize" name="minClusterSizeInput" (ngModelChange)="onChange($event)" id="minSize" placeholder={{minClusterSize}}>
    </div>
    {{minClusterSize}}
    <div class="form-row">
        <button class="btn btn-lg btn-outline-primary outline" (click)="doAnalysis(content)">
            Do Analysis
        </button>
    </div>
</form>

<h3>Check running status</h3>

    <div class="form-row">
        <button class="btn btn-lg btn-outline-primary outline" (click)="doAnalysis(content)">
            goCheck
        </button>
    </div>

