<!-- <h4>
</h4>
-->
<!--Modal: Subscription From-->





<ng-template #content let-c="close" let-d="dismiss">
    <!--<h2 class="modal-title">Upload files for your assigned Analysis ID: {{analysisJobId}}</h2>-->


    <!--<a [popover]="popTemplate" popoverTitle="Succed to apply analysis job ID." triggers="mouseenter:mouseleave"-->
       <!--container="body"-->
       <!--placement="right" html="true" (click)="gotoClusterDetails(value)">-->
        <!--{{value | truncate_clusterid}}-->
        <!--{{value }}-->
    <!--</a>-->
    <!--<ng-template #popTemplate>-->

        <!--div [innerHtml]="html"></div-->
    <!--</ng-template>-->

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="container modal-body upload_control">

        <div class="row">

            <div class="col-md-12">
                <div class="drop">
                        <h3 style="float: left;">Select files</h3>
                        <div style="float: left;" ng2FileDrop
                             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                             (fileOver)="fileOverBase($event)"
                             [uploader]="uploader"
                             class="well my-drop-zone">
                            Drop your files.
                        </div>
                </div>
                <div class="Multiple">
                    <h3 style="float: left;">Multiple</h3>
                    <input style="float: left;" type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
                </div>
                <!--Single-->
                <!--<input type="file" ng2FileSelect [uploader]="uploader"/>-->
            </div>

            <div class="col-md-12" style="margin-bottom: 10px; margin-top: 10px;">

                <h3>Upload queue</h3>
                <p>Queue length: {{ uploader?.queue?.length }}</p>

                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Type</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td> <!--Name-->
                        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB
                        </td><!--Size-->
                        <td class="text-center"><!--Type-->
                            <!--<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>-->

                            <select id="upload-file-type" (change) ="uploadFileTypeChange($event.target.value, item)">
                                <option value="none">--select--</option>
                                <option value="peak">Peak</option>
                                <option value="psm">PSM</option>
                                <option value="peaknpsm">Peak & PSM</option>
                            </select>


                            <!--<span *ngIf="item.isSuccess"><i class="fa fa-check-circle fa-2x" style="color:#00e25b"></i></span>-->
                        </td><!--Type-->
                        <td *ngIf="uploader.options.isHTML5"><!--Progress-->
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center"><!--Status-->
                            <!--<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>-->
                            <span *ngIf="item.isSuccess"><i class="fa fa-check-circle fa-2x" style="color:#00e25b"></i></span>
                            <span *ngIf="item.isCancel"><i class="fa fa-close fa-2x" style="color:#ff941a"></i></span>
                            <span *ngIf="item.isError"><i class="fa fa-warning fa-2x" style="color:#ff3547"></i></span>
                        </td>
                        <td nowrap><!--Actions-->
                            <button type="button" class="btn btn-success btn-xs "
                                    (click)="uploadItem(item,jobIdPopup)"
                                    [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <div>
                        Queue progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar"
                                 [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s"
                            (click)="uploadAll(jobIdPopup)"
                            [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s"
                            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s"
                            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>

            </div>

        </div>

    </div>

    <div #jobIdDiv *ngIf="analysisJob!=null && analysisJob.accessionId!=null">
        <h4 class="container">Uploading files for your assigned Analysis ID: {{analysisJob.accessionId}}</h4>
        <hr>
        <h4 class="container">
        Your analysis job id/token are : <span style="color:red">{{analysisJob.accessionId}} -  <span style="color:blue">{{analysisJobToken}} </span>
        </span> , please remember them for asking help or browsing analysis result;
        </h4>
    </div>




    <div class="modal-footer">
        <!--<button type="button" class="btn btn-outline-primary " (click)="getAnalysisId()">Get Analysis Id</button>-->
        <button id="confirmFileButton" [disabled]="!fileUploadEnabled" type="button" class="btn btn-outline-primary "
                title="After confirming file list, you will not able to upload new files."
            (click)="confirmFiles()">Confirm Files
        </button>

        <!--<button type="button" class="btn btn-outline-primary " [disabled]="fileUploadEnabled" (click)="c('Close click')">Close</button>-->
    </div>

</ng-template>
<div class="upload_file_content">
    <span class="label">Upload files to analyze</span>
    <button class="custom_button" (click)="open(content)">
        Upload Files
    </button>
</div>

<!--<ng-template #confirmPopup let-c="close" let-d="dismiss">-->
    <!--<h2 class="modal-title">Confirm Upload files for your assigned Analysis ID: {{analysisJob.accessionId}}</h2>-->

    <!--<div class="container modal-body">-->
    <!--After confirming file list, you will not able to upload new files. Please click confirm to continue, cancel to-->
    <!--abort.-->
    <!--</div>-->

    <!--<div class="modal-footer">-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-outline-primary " (click)="getAnalysisId()">Get Analysis Id</button>&ndash;&gt;-->
        <!--<button id="confirmFileButton2" [disabled]="!fileUploadEnabled" type="button" class="btn btn-outline-primary "-->
                <!--(click)="confirmFilesForSure()">Confirm Files-->
        <!--</button>-->
        <!--<button type="button"  class="btn btn-outline-primary " (click)="c('Close click')">Close</button>-->
    <!--</div>-->

<!--</ng-template>-->


