<!-- Nav tabs -->

<!--<select (change)="onLimitChange($event.target.value)" class="material">-->
<!--<option-->
<!--*ngFor="let option of pageLimitOptions"-->
<!--[value]="option.value"-->
<!--[selected]="option.value == currentPageLimit"-->
<!--&gt;-->
<!--{{ option.value }} per page-->
<!--</option>-->
<!--</select>-->
<p><span>Histogram-charts</span></p>
<div class="material-like"
     style="box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);margin-bottom: 40px;height: auto;" >
    <app-histogram-charts [activedPsm]="selectedPsm" [psmType]="psmType" [projectId]="projectId"></app-histogram-charts>
</div>

<!--<hr>-->
<p><span>Datatable</span></p>
<div style="padding-top: 30px;padding-bottom: 30px">

    <ngx-datatable
            #datatable
            class="material"
            [rows]="psm_rows"
            [columns]=""
            [columnMode]="'force'"
            [headerHeight]="80"
            [footerHeight]="50"
            [externalPaging]="true"
            [rowHeight]="40"
            [count]="page.totalElements"
            [offset]="page.pageNumber-1"
            [limit]="page.size"
            [selected]="selected_psms"
            [selectionType]="'single'"
            (activate)="onActivatePsm($event)"
            (select)='onSelectPsm($event)'
            (page)='setPage($event)'
            (sort)="onSort($event)"
            [loadingIndicator]="loading"
    >

        <ngx-datatable-column name="id" [sortable]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="peptideSequence" [sortable]="false">
            <ng-template ngx-datatable-header-template>
                Peptide<br>Sequence
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value|truncate: '10':'...'}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="psmType=='negscore' || psmType=='posscore' " name="confidentScore" [sortable]="true">
            <ng-template ngx-datatable-header-template let-sort="sortFn" class="sort-btn">
                <a (click)="sort()">
                    Confident<br>Score
                    <span *ngIf="page.sortField != 'confidentScore'" data-icon="c" class="icon"></span>
                    <span *ngIf="page.sortField == 'confidentScore' && page.sortDirection == 'asc' && isDefaultSort == true"
                          data-icon="e" class="icon"></span>
                    <span *ngIf="page.sortField == 'confidentScore' && page.sortDirection == 'desc' && isDefaultSort == true"
                          data-icon="f" class="icon"></span>
                </a>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.2-2'}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="psmType=='negscore'|| psmType=='newid'" name="recommConfidentScore" [sortable]="true">
            <ng-template ngx-datatable-header-template let-sort="sortFn" class="sort-btn">
                <a (click)="sort()">
                    Recommend Confident<br>Score
                    <span *ngIf="page.sortField != 'recommConfidentScore'" data-icon="c" class="icon"></span>
                    <span *ngIf="page.sortField == 'recommConfidentScore' && page.sortDirection == 'asc' && isDefaultSort == true"
                          data-icon="e" class="icon"></span>
                    <span *ngIf="page.sortField == 'recommConfidentScore' && page.sortDirection == 'desc' && isDefaultSort == true"
                          data-icon="f" class="icon"></span>
                </a>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.2-2'}}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="clusterId" [sortable]="false">
            <ng-template ngx-datatable-header-template>
                Cluster<br>Id
            </ng-template>
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <a [popover]="popTemplate" popoverTitle="Sequences in Cluster" triggers="mouseenter:mouseleave"  container="body"
                   placement="right">
                    <!--{{value | truncate_clusterid}}-->
                    {{value }}
                </a>
                <ng-template #popTemplate>{{row.clusterRatioStr}}<div [innerHtml]="html"></div></ng-template>
                <!--<button type="button" class="btn btn-success"-->
                        <!--[popover]="popTemplate" popoverTitle="Dynamic html inside">-->
                    <!--Show me popover with html-->
                <!--</button>-->
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="clusterRatio" [sortable]="true">
            <ng-template ngx-datatable-header-template let-sort="sortFn">
                <a (click)="sort()">
                    Cluster<br>Ratio
                    <span *ngIf="page.sortField != 'clusterRatio'" data-icon="c" class="icon"></span>
                </a>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.2-2'}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="clusterSize" [sortable]="true">
            <ng-template ngx-datatable-header-template let-sort="sortFn">
                <a (click)="sort()">
                    Cluster<br>Size
                    <span *ngIf="page.sortField != 'clusterSize'" data-icon="c" class="icon"></span>
                </a>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | shortnumber}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="recommendPeptide" [sortable]="false">
            <ng-template ngx-datatable-header-template>
                Recommend<br>Peptide
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value|truncate: 20}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="spectraNum" [sortable]="false">
            <ng-template ngx-datatable-header-template>
                Spectrum<br>Number
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="display: inline-block;width: 20px;text-align: center;">{{value | shortnumber}}</span>
               <!--<button class="modal_button" id="modal_button"><a href="#detail" target="_self">查看详情</a></button>-->
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="acceptance" [sortable]="true">
            <ng-template ngx-datatable-header-template let-sort="sortFn">
                <a (click)="sort()">
                    Acceptance
                    <span *ngIf="page.sortField != 'acceptance'" data-icon="c" class="icon"></span>
                </a>
            </ng-template>
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <a [ngClass]="getAcceptClass(value)" (click)="onAcceptClick(row)"></a>
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-footer>
            <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
            >

                <div style="padding-left: 10px;">
                    Rows: [{{offset*pageSize + 1}}-{{offset*pageSize + pageSize}}] in {{rowCount}} |
                    Size: {{pageSize}} |
                    Current: {{curPage}}
                    <!--Offset: {{offset}}-->
                </div>
                <div class="datatable-footer_pagination">
                    <datatable-pager
                            [pagerLeftArrowIcon]="'datatable-icon-left'"
                            [pagerRightArrowIcon]="'datatable-icon-right'"
                            [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'"
                            [page]="curPage"
                            [size]="pageSize"
                            [count]="rowCount"
                            [hidden]="!((rowCount / pageSize) > 1)"
                            (change)="datatable.onFooterPage($event)">
                    </datatable-pager>
                </div>

                <!--<button class="right material-like">Export-->
                <!--</button>-->
                <button class="btn btn-sm btn-outline-primary outline right" data-toggle="modal"
                        data-target="#basicExampleright" (click)="fluid.show()" mdbRippleRadius>
                    Export to File
                </button>

            </ng-template>
        </ngx-datatable-footer>

    </ngx-datatable>
    <span class="sortable sort-btn datatable-icon-ready"></span>

</div>
<p><span>Spectra-comparer</span></p>
<div class="row" style="padding-top:15px;padding-right:15px;" id='Spectra-comparer'>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!--<ngx-datatable id="spectrum_table"-->
                       <!--class="material"-->
                       <!--[rows]="spec_rows"-->
                       <!--columnMode="force"-->
                       <!--[headerHeight]="50"-->
                       <!--[footerHeight]="0"-->
                       <!--[rowHeight]="40"-->
                       <!--[selected]="selected_specs"-->
                       <!--[selectionType]="'single'"-->
                       <!--[limit]="10"-->
                       <!--(activate)="onActivateSpec($event)"-->
                       <!--(select)='onSelectSpec($event)'-->
            <!--&gt;-->
            <!--&lt;!&ndash;[scrollbarV]="true"&ndash;&gt;-->
            <!--<ngx-datatable-column name="title" [width]="300"></ngx-datatable-column>-->
            <!--<ngx-datatable-column name="charge"></ngx-datatable-column>-->
            <!--<ngx-datatable-column name="precursorMz"></ngx-datatable-column>-->
        <!--</ngx-datatable>-->

        <!--[columns]="[{name:'title'},{name:'charge'},{name:'precursorMz'}]"-->
        <ngx-datatable
            class="material"
            [rows]="spec_rows"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="40"
            [selectionType]="'single'"
            [limit]="15"
            (activate)="onActivateSpec($event)"
            (select)='onSelectSpec($event)'
        >
            <ngx-datatable-column name="title" [width]="280" title="title"></ngx-datatable-column>
            <ngx-datatable-column name="charge"></ngx-datatable-column>
            <ngx-datatable-column name="precursorMz" [width]="180"></ngx-datatable-column>
        </ngx-datatable>
    </div>                
    <div class="col-md-8 material-like " id="material-like">

        <app-spectra-comparer [selectedPsm]="selectedPsm" [spectrum]="selectedSpectrum"
                              [psmType]="psmType" style="float: left;"></app-spectra-comparer>
             
    </div>

</div>

<div>

</div>


<div mdbModal #fluid="mdb-modal" class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-bottom  modal-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Export results to file</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluid.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 pd_1">
                        <div class="dataTables_length" id="example_length">
                            <label>Please Choose PSM types&nbsp;
                            </label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-2 form-check abc-checkbox">
                        <input class="form-check-input invisible" id="checkbox_better" type="checkbox" (click)="onCheckClick('checkbox_better')"
                            [(ngModel)]="export.recommBetter">
                        <label class="form-check-label" for="checkbox_better">
                            Recommend Better PSMs
                        </label>
                    </div>
                    <div class="col-2">
                        <p>Confident Score From</p>
                    </div>
                    <div class="col-1">
                        <input class="export_input" [(ngModel)]="export.recommBetterStart"  type="number" step="0.01" id="input_better_from">
                    </div>
                    {{export.recommBetterStart}}
                    <div class="col-1">
                        <p>To</p>
                    </div>
                    <div class="col-1">
                        <input class="export_input" [(ngModel)]="export.recommBetterEnd" type="number" step="0.01" id="input_better_to">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 form-check abc-checkbox">

                        <input class="form-check-input invisible" id="checkbox_newId" type="checkbox"
                        [(ngModel)]="export.newIdent">
                        <label class="form-check-label" for="checkbox_newId">
                            New Identifying PSMs
                        </label>
                    </div>
                    <div class="col-2">
                        <p>Confident Score From</p>
                    </div>
                    <div class="col-1 ">
                        <input class="export_input" [(ngModel)]="export.newIdentStart"  type="number" step="0.01" id="input_new_from">
                    </div>
                    <div class="col-1">
                        <p>To</p>
                    </div>
                    <div class="col-1 ">
                        <input class="export_input" [(ngModel)]="export.newIdentEnd" type="number" step="0.01" id="input_new_to">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 form-check abc-checkbox">
                        <input class="form-check-input invisible" id="checkbox_highConf" type="checkbox"
                        [(ngModel)]="export.highConf">
                        <label class="form-check-label" for="checkbox_highConf">
                            High Confident PSMs
                        </label>
                    </div>
                    <div class="col-2">
                        <p>Confident Score From</p>
                    </div>
                    <div class="col-1 ">
                        <input class="export_input" [(ngModel)]="export.highConfStart" type="number" step="0.01" id="input_conf_from">
                    </div>
                    <div class="col-1">
                        <p>To</p>
                    </div>
                    <div class="col-1">
                        <input class="export_input" [(ngModel)]="export.highConfEnd" type="number" step="0.01" id="input_conf_to">
                    </div>
                </div>
                <div>
                    <br>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 pd_1">
                        <div class="dataTables_length" id="example_length2">
                            <label>Please Choose Acceptance types&nbsp;
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-check abc-checkbox">
                    <input class="form-check-input invisible" id="checkbox_mannuallyChecked" type="checkbox">
                    <label [{ngModel}]="export.hasAccepted" class="form-check-label" for="checkbox_mannuallyChecked">
                        Mannually Checked
                    </label>
                </div>
                <div class="form-check abc-checkbox">
                    <input [{ngModel}]="export.hasRejected" class="form-check-input invisible" id="checkbox_rejected" type="checkbox">
                    <label class="form-check-label" for="checkbox_rejected">
                        Mannually Rejected
                    </label>
                </div>
                <div class="form-check abc-checkbox">

                    <input class="form-check-input invisible" id="checkbox_setDefault" type="checkbox" value="checked">
                    <label class="form-check-label" for="checkbox_setDefault">
                        Accept Default as
                    </label>
                    <select class="mb-2 mr-sm-2 mb-sm-0" id="defaultAs" placeholder="Accept" [(ngModel)]="export.defaultAccpetType">
                        <option value="accept">Accept</option>
                        <option value="reject">Reject</option>
                        <option value="none">None</option>
                    </select>
                </div>

            </div>

            <div class="modal-footer justify-content-center">
                <a class="btn btn-clear btn-secondary waves-light" title="Export to JSON File" (click)="saveFile()">Export
                    to JSON</a>
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluid.hide()"
                        mdbRippleRadius>Close
                </button>
                <!--<button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Save changes</button>-->
            </div>
            <div id="spectrum_table" class="col-sm-5 col-md-5 col-lg-5">
                
                                <table id="spectra-in-psm" class="table table-striped table-bordered table-responsive dataTable table-hover position_1 "
                                       cellspacing="0"  role="grid" aria-describedby="example_info" >
                                    <thead>
                                    <tr role="row">
                                        <th *ngFor="let headItem of spectrumHeaders" class="">{{headItem.headName}}
                                                <i class="fa fa-2x float-right unactived-sort-icon" [ngClass]="getClassByOrder(headItem)" (click)="onClickReSort(headItem)"></i>
                                                <i class="fa fa-2x float-right unactived-sort-icon" ></i>
                                        </th>
                                    </thead>
                                    <tbody style="height:600px;">
                                    <tr *ngFor="let spectrum of spectrumTable; let i=index" role="row form" class="odd" (click)="onSpectrumRowClick(spectrum)">
                                        <ng-container *ngFor="let headItem of spectrumHeaders; let j=index" >
                                            <td class="" *ngIf="j<spectrumHeaders.length" [ngClass]="{'selected-row':isSpectrumSelected(spectrum['title'])}">{{spectrum[headItem.headName]}}</td>
                                            <td class="form-check form-check-inline abc-checkbox" *ngIf="j==spectrumHeaders.length-1">
                                                <!--{{psm[headItem.headName]}}-->
                                                <!--<input class="form-check-input invisible" type="checkbox" [id]="'psm_cb'+psm['id']" (click)="onAcceptClick('psm_cb'+psm['id'])">-->
                                                <!--<label class="form-check-label" [for]="'psm_cb'+psm['id']" ></label>-->
                                            </td>
                                        </ng-container>
                                    </tr>
                
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th *ngFor="let headItem of spectrumHeaders" class="">{{headItem.headName}}
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                    </div>
        </div>
    </div>


</div>

