table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after {
  padding: 5px;
}
.dataTables_wrapper .mdb-select {
  border: none;
}
.dataTables_wrapper .mdb-select.form-control {
  padding-top: 0;
  margin-top: -1rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  width: 100px;
}
.dataTables_length label {
  display: flex;
  justify-content: left;
}
.dataTables_filter label {
  margin-bottom: 0;
}
.dataTables_filter label input.form-control {
  margin-top: -0.6rem;
  padding-bottom: 0;
}
table.dataTable {
  margin-bottom: 3rem!important;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
}


.table-wrapper-scroll {
  display: block;
  max-height: 500px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: seashell;
}

[type=radio]+label, [type=checkbox]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

[role=button], a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[type=checkbox]+label:before {
  content: 'X';
  font-size:1.8em;
  color:#f44255;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid transparent;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}
[type=checkbox]:checked+label:before {
  content: '';
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #f44255 #f4684f transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type=checkbox]:indeterminate+label:before {
  content: '';
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #172e5a #172e5a transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

