<!-- Nav tabs -->
<div class="card row">
    <p class="title-wrapper"><span class="title">Histogram-charts</span></p>
    <div class="material-like body-wrapper"
         style="height: auto;" >
        <app-histogram-charts
                [sortField]="page.sortField"
                [activedPage]="psm_rows_sim"
                [page]="page"
                [sortType]="sortType"
                [activedPsm]="selectedPsm"
                [activePsmIndex]="selectedPsmIndex"
                [psmType]="psmType"
                [projectId]="projectId">
        </app-histogram-charts>
    </div>
</div>
<div class="row col-sm-offset-1">
    <div class="table-wrapper col-sm-5">
        <div class="card" style="margin-left: -15px; min-height: 770px;">
            <p class="title-wrapper"><span class="title">Datatable</span></p>
            <div class="body-wrapper" style="height: auto;" >
                <div class="filter-wrapper row">
                    <div class="col-md-6">
                        <select id="selectSpecies" class="custom_select" [(ngModel)]="selectedSpeciesData" (ngModelChange)="onSelectSpeciesChange()">
                            <option *ngFor="let s of speciesList">{{s.psmNo}}---{{s.id}}({{s.name}})</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button class="custom_button custom_button_plain right" data-toggle="modal"
                                data-target="#basicExampleright" (click)="fluid.show()" mdbRippleRadius>
                            Export to File
                        </button>
                    </div>
                </div>
                <div class="table-wrapper">
                    <ngx-datatable
                            #datatable
                            class="material"
                            [rows]="psm_rows"
                            [columns]=""
                            [columnMode]="'force'"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [externalPaging]="true"
                            [rowHeight]="40"
                            [count]="page.totalElements"
                            [offset]="page.pageNumber-1"
                            [limit]="page.size"
                            [selected]="selected_psms"
                            [selectionType]="'single'"
                            (activate)="onActivatePsm($event)"
                            (select)='onSelectPsm($event)'
                            (page)='setPage($event)'
                            (sort)="onSort($event)"
                            [loadingIndicator]="loading"
                    >
                        <!-- <ngx-datatable-column name="id" [sortable]="false">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column> -->
        
                        <ngx-datatable-column name="peptideSequence" [sortable]="false">
                            <ng-template ngx-datatable-header-template>
                                <!-- Peptide<br>Sequence -->
                                <span data-toggle="popover" title="Peptide Sequence">
                                    Seq
                                </span>
                            </ng-template>
        
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span data-toggle="popover" title="{{value|truncate: '10':'...'}}">
                                    {{value|truncate: '10':'...'}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
        
                        <ngx-datatable-column *ngIf="psmType=='negscore' || psmType=='posscore' " name="confidentScore" [sortable]="true">
                            <ng-template ngx-datatable-header-template let-sort="sortFn" class="sort-btn">
                                <a (click)="sort()">
                                    <!-- Confident<br>Score -->
                                    <span data-toggle="popover" title="Confident Score">
                                        Score
                                    </span>
                                    <span *ngIf="page.sortField != 'confidentScore'" data-icon="c" class="icon"></span>
                                    <span *ngIf="page.sortField == 'confidentScore' && page.sortDirection == 'asc' && isDefaultSort == true"
                                            data-icon="e" class="icon"></span>
                                    <span *ngIf="page.sortField == 'confidentScore' && page.sortDirection == 'desc' && isDefaultSort == true"
                                            data-icon="f" class="icon"></span>
                                </a>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span data-toggle="popover" title="{{value | number:'1.2-2'}}">
                                    {{value | number:'1.2-2'}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
        
                        <ngx-datatable-column *ngIf="psmType=='negscore'|| psmType=='newid'" name="recommConfidentScore" [sortable]="true">
                            <ng-template ngx-datatable-header-template let-sort="sortFn" class="sort-btn">
                                <a (click)="sort()">
                                    <!-- Recommend Confident<br>Score -->
                                    <span data-toggle="popover" title="Recommend Confident Score">
                                        Re_score
                                    </span>
                                    <span *ngIf="page.sortField != 'recommConfidentScore'" data-icon="c" class="icon"></span>
                                    <span *ngIf="page.sortField == 'recommConfidentScore' && page.sortDirection == 'asc' && isDefaultSort == true"
                                            data-icon="e" class="icon"></span>
                                    <span *ngIf="page.sortField == 'recommConfidentScore' && page.sortDirection == 'desc' && isDefaultSort == true"
                                            data-icon="f" class="icon"></span>
                                </a>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span data-toggle="popover" title="{{value | number:'1.2-2'}}">
                                    {{value | number:'1.2-2'}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
        
        
                        <ngx-datatable-column name="clusterId" [sortable]="false">
                            <ng-template ngx-datatable-header-template>
                                <!-- Cluster<br>Id -->
                                <span data-toggle="popover" title="Cluster Id">
                                    Cluster
                                </span>
                            </ng-template>
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <a [popover]="popTemplate" popoverTitle="Sequences in Cluster" triggers="mouseenter:mouseleave"  container="body"
                                    placement="right" html="true" (click)="gotoClusterDetails(value)">
                                    <!--{{value | truncate_clusterid}}-->
                                    <span data-toggle="popover" title="{{value}}">
                                        {{value}}
                                    </span>
                                </a>
                                <ng-template #popTemplate>
                                    <html>
                                    <body>
                                    <app-sequences-pie-chart  [ratioStr]="row.clusterRatioStr"></app-sequences-pie-chart>
                                    </body>
                                    </html>
                                </ng-template>
                                <!--<button type="button" class="btn btn-success"-->
                                <!--[popover]="popTemplate" popoverTitle="Dynamic html inside">-->
                                <!--Show me popover with html-->
                                <!--</button>-->
                            </ng-template>
                        </ngx-datatable-column>
        
                        <ngx-datatable-column name="clusterRatio" [sortable]="true">
                            <ng-template ngx-datatable-header-template let-sort="sortFn">
                                <a (click)="sort()">
                                    <!-- Cluster<br>Ratio -->
                                    <span data-toggle="popover" title="Cluster Ratio">
                                        Ratio
                                    </span>
                                    <span *ngIf="page.sortField != 'clusterRatio'" data-icon="c" class="icon"></span>
                                </a>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span data-toggle="popover" title="{{value | number:'1.2-2'}}">
                                    {{value | number:'1.2-2'}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
        
                        <ngx-datatable-column name="clusterSize" [sortable]="true">
                            <ng-template ngx-datatable-header-template let-sort="sortFn">
                                <a (click)="sort()">
                                    <!-- Cluster<br>Size -->
                                    <span data-toggle="popover" title="Cluster Size">
                                        Size
                                    </span>
                                    <span *ngIf="page.sortField != 'clusterSize'" data-icon="c" class="icon"></span>
                                </a>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span data-toggle="popover" title="{{value | shortnumber}}">
                                    {{value | shortnumber}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
        
                        <ngx-datatable-column name="recommendPeptide" [sortable]="false">
                            <ng-template ngx-datatable-header-template>
                                <!-- Recommend<br>Peptide -->
                                <span data-toggle="popover" title="Recommend Peptide">
                                    Re_seq
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <a target="_blank" href="http://wwwdev.ebi.ac.uk/pride/peptidesearch?keyword={{value.replace('R_NEW_','').replace('R_Better_','')}}&page=0&pageSize=10">                          
                                    <span data-toggle="popover" title="{{value.replace('R_NEW_','').replace('R_Better_','')}}">
                                        {{value.replace('R_NEW_','').replace('R_Better_','')}}
                                    </span>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
        
                        <ngx-datatable-column name="taxIds" [sortable]="false">
                            <ng-template ngx-datatable-header-template>
                                <!-- Recommend<br>Peptide Taxids -->
                                <span data-toggle="popover" title="Recommend Peptide Taxids">
                                    Tax_id
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <!--<a target="_blank" href="http://wwwdev.ebi.ac.uk/pride/???">-->
                                <!--{{value}}-->
                                <!--</a>-->
                                <a *ngIf="value"   [popover]="popTemplate2" popoverTitle="Taxids of sequence" triggers="mouseenter:mouseleave"  container="body"
                                    placement="right" html="true" >
                                    {{value.join(',') |truncate:10}}
                                    <!--{{value }}-->
                                </a>
                                <ng-template #popTemplate2>
                                    <html>
                                    <body>
                                    <div *ngFor = "let item of value">
                                        {{item}}
                                    </div>
                                    </body>
                                    </html>
                                </ng-template>
        
        
                            </ng-template>
                        </ngx-datatable-column>
        
                        <ngx-datatable-column name="spectraNum" [sortable]="false">
                            <ng-template ngx-datatable-header-template>
                                <!-- Spectrum<br>Number -->
                                <span data-toggle="popover" title="Spectrum Number">
                                    N_spec
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span style="display: inline-block;width: 20px;text-align: center;">{{value | shortnumber}}</span>
                                <!--<button class="modal_button" id="modal_button"><a href="#detail" target="_self">查看详情</a></button>-->
                            </ng-template>
                        </ngx-datatable-column>
        
                        <ngx-datatable-column name="acceptance" [sortable]="true">
                            <ng-template ngx-datatable-header-template let-sort="sortFn">
                                <a (click)="sort()">
                                    <!-- Acceptance -->
                                    <span data-toggle="popover" title="Acceptance">
                                        Check
                                    </span>
                                    <span *ngIf="page.sortField != 'acceptance'" data-icon="c" class="icon"></span>
                                </a>
                            </ng-template>
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <a [ngClass]="getAcceptClass(value)" (click)="onAcceptClick(row)"></a>
                            </ng-template>
                        </ngx-datatable-column>
        
        
                        <ngx-datatable-footer>
                            <ng-template
                                ngx-datatable-footer-template
                                let-rowCount="rowCount"
                                let-pageSize="pageSize"
                                let-selectedCount="selectedCount"
                                let-curPage="curPage"
                                let-offset="offset"
                            >
                                <div style="padding-left: 10px;">
                                    Rows: [{{offset*pageSize + 1}}-{{offset*pageSize + pageSize}}] in {{rowCount}} |
                                    Size: {{pageSize}} |
                                    Current: {{curPage}}
                                </div>
                                <div class="datatable-footer_pagination">
                                    <datatable-pager
                                            [pagerLeftArrowIcon]="'datatable-icon-left'"
                                            [pagerRightArrowIcon]="'datatable-icon-right'"
                                            [pagerPreviousIcon]="'datatable-icon-prev'"
                                            [pagerNextIcon]="'datatable-icon-skip'"
                                            [page]="curPage"
                                            [size]="pageSize"
                                            [count]="rowCount"
                                            [hidden]="!((rowCount / pageSize) > 1)"
                                            (change)="datatable.onFooterPage($event)">
                                    </datatable-pager>
                                </div>
        
                                <!--<button class="right material-like">Export-->
                                <!--</button>-->
                                <!--<button class="btn btn-sm btn-outline-primary outline right" data-toggle="modal"
                                        data-target="#basicExampleright" (click)="fluid.show()" mdbRippleRadius>
                                    Export to File
                                </button>-->
                            </ng-template>
                        </ngx-datatable-footer>
                    </ngx-datatable>
                    <span class="sortable sort-btn datatable-icon-ready"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-sm-7">
        <p class="title-wrapper"><span class="title">Spectra-comparer</span></p>
        <div class="body-wrapper">
            <div class="row" id='Spectra-comparer'>
                <div class="col-sm-3">
                    <ngx-datatable
                            #specdatatable
                            class="material"
                            [rows]="spec_rows_in_page"
                            [externalPaging]="true"
                            [columnMode]="'force'"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [rowHeight]="36"
                            [selectionType]="'single'"
                            [count]="specPage.totalElements"
                            [offset]="specPage.pageNumber-1"
                            [limit]="specPage.size"
                            (page)="setSpecPage($event)"
                            (activate)="onActivateSpec($event)"
                            (select)='onSelectSpec($event)'
                    >
                        <ngx-datatable-column name="title">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div data-toggle="popover" title="{{value}}">
                                    {{(row.$$index + 1) + ((specPage.pageNumber-1) * specPage.size)}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="charge"></ngx-datatable-column>
                        <ngx-datatable-column name="precursorMz" [width]="180"></ngx-datatable-column>
    
    
                        <ngx-datatable-footer>
                            <ng-template
                                    ngx-datatable-footer-template
                                    let-rowCount="rowCount"
                                    let-pageSize="pageSize"
                                    let-selectedCount="selectedCount"
                                    let-curPage="curPage"
                                    let-offset="offset"
                            >
                                <div style="padding-left: 10px;">
                                    Rows: [{{offset*pageSize + 1}}-{{offset*pageSize + pageSize}}] in {{rowCount}} |
                                    Size: {{pageSize}} |
                                    Current: {{curPage}}
                                    <!--Offset: {{offset}}-->
                                </div>
                                <div class="datatable-footer_pagination">
                                    <datatable-pager
                                            [pagerLeftArrowIcon]="'datatable-icon-left'"
                                            [pagerRightArrowIcon]="'datatable-icon-right'"
                                            [pagerPreviousIcon]="'datatable-icon-prev'"
                                            [pagerNextIcon]="'datatable-icon-skip'"
                                            [page]="curPage"
                                            [size]="pageSize"
                                            [count]="rowCount"
                                            [hidden]="!((rowCount / pageSize) > 1)"
                                            (change)="specdatatable.onFooterPage($event)">
                                    </datatable-pager>
                                </div>
    
                            </ng-template>
                        </ngx-datatable-footer>
                    </ngx-datatable>
                </div>
                <div class="col-md-9 material-like " id="material-like">
    
                    <app-spectra-comparer [selectedPsm]="selectedPsm" [spectrum]="selectedSpectrum"
                                          [psmType]="psmType"></app-spectra-comparer>
    
                </div>
    
            </div>
        </div>
    </div>
</div>
<!--<p><span>Spectra-comparer</span></p>
<div class="row" style="padding-top:15px;padding-right:15px;" id='Spectra-comparer'>
    <div class="col-sm-4 col-md-4 col-lg-4">

         <ngx-datatable
            #specdatatable
            class="material"
            [rows]="spec_rows_in_page"
            [externalPaging]="true"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="40"
            [selectionType]="'single'"
            [count]="specPage.totalElements"
            [offset]="specPage.pageNumber-1"
            [limit]="specPage.size"
            (page)="setSpecPage($event)"
            (activate)="onActivateSpec($event)"
            (select)='onSelectSpec($event)'
        >
            <ngx-datatable-column name="title" [width]="280" title="title"></ngx-datatable-column>
            <ngx-datatable-column name="charge"></ngx-datatable-column>
            <ngx-datatable-column name="precursorMz" [width]="180"></ngx-datatable-column>


            <ngx-datatable-footer>
            <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
            >
                <div style="padding-left: 10px;">
                    Rows: [{{offset*pageSize + 1}}-{{offset*pageSize + pageSize}}] in {{rowCount}} |
                    Size: {{pageSize}} |
                    Current: {{curPage}}
                    &lt;!&ndash;Offset: {{offset}}&ndash;&gt;
                </div>
                <div class="datatable-footer_pagination">
                    <datatable-pager
                            [pagerLeftArrowIcon]="'datatable-icon-left'"
                            [pagerRightArrowIcon]="'datatable-icon-right'"
                            [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'"
                            [page]="curPage"
                            [size]="pageSize"
                            [count]="rowCount"
                            [hidden]="!((rowCount / pageSize) > 1)"
                            (change)="specdatatable.onFooterPage($event)">
                    </datatable-pager>
                </div>

            </ng-template>
        </ngx-datatable-footer>
        </ngx-datatable>
    </div>                
    <div class="col-md-8 material-like " id="material-like">

         <app-spectra-comparer [selectedPsm]="selectedPsm" [spectrum]="selectedSpectrum"
                              [psmType]="psmType" style="float: left;"></app-spectra-comparer> 
             
    </div>

</div>

<div>

</div>-->


<div mdbModal #fluid="mdb-modal" class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Export results to file</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluid.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 pd_1">
                        <div class="dataTables_length" id="example_length">
                            <label>Please Choose PSM types&nbsp;
                            </label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-2 form-check abc-checkbox">
                        <input class="form-check-input invisible" id="checkbox_better" type="checkbox"
                            [(ngModel)]="export.recommBetter">
                        <label class="form-check-label" for="checkbox_better">
                            Recommend Better PSMs
                        </label>
                    </div>
                    <div class="col-2">
                        <p>Confident Score From</p>
                    </div>
                    <div class="col-1">
                        <input class="export_input" [(ngModel)]="export.recommBetterStart"  type="number" step="0.01" id="input_better_from">
                    </div>
                    {{export.recommBetterStart}}
                    <div class="col-1">
                        <p>To</p>
                    </div>
                    <div class="col-1">
                        <input class="export_input" [(ngModel)]="export.recommBetterEnd" type="number" step="0.01" id="input_better_to">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 form-check abc-checkbox">

                        <input class="form-check-input invisible" id="checkbox_newId" type="checkbox"
                        [(ngModel)]="export.newIdent">
                        <label class="form-check-label" for="checkbox_newId">
                            New Identifying PSMs
                        </label>
                    </div>
                    <div class="col-2">
                        <p>Confident Score From</p>
                    </div>
                    <div class="col-1 ">
                        <input class="export_input" [(ngModel)]="export.newIdentStart"  type="number" step="0.01" id="input_new_from">
                    </div>
                    <div class="col-1">
                        <p>To</p>
                    </div>
                    <div class="col-1 ">
                        <input class="export_input" [(ngModel)]="export.newIdentEnd" type="number" step="0.01" id="input_new_to">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 form-check abc-checkbox">
                        <input class="form-check-input invisible" id="checkbox_highConf" type="checkbox"
                        [(ngModel)]="export.highConf">
                        <label class="form-check-label" for="checkbox_highConf">
                            High Confident PSMs
                        </label>
                    </div>
                    <div class="col-2">
                        <p>Confident Score From</p>
                    </div>
                    <div class="col-1 ">
                        <input class="export_input" [(ngModel)]="export.highConfStart" type="number" step="0.01" id="input_conf_from">
                    </div>
                    <div class="col-1">
                        <p>To</p>
                    </div>
                    <div class="col-1">
                        <input class="export_input" [(ngModel)]="export.highConfEnd" type="number" step="0.01" id="input_conf_to">
                    </div>
                </div>
                <div>
                    <br>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 pd_1">
                        <div class="dataTables_length" id="example_length2">
                            <label>Please Choose Acceptance types&nbsp;
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-check abc-checkbox">
                    <input class="form-check-input invisible" id="checkbox_mannuallyChecked" type="checkbox">
                    <label [{ngModel}]="export.hasAccepted" class="form-check-label" for="checkbox_mannuallyChecked">
                        Mannually Checked
                    </label>
                </div>
                <div class="form-check abc-checkbox">
                    <input [{ngModel}]="export.hasRejected" class="form-check-input invisible" id="checkbox_rejected" type="checkbox">
                    <label class="form-check-label" for="checkbox_rejected">
                        Mannually Rejected
                    </label>
                </div>
                <div class="form-check abc-checkbox">

                    <input class="form-check-input invisible" id="checkbox_setDefault" type="checkbox" value="checked">
                    <label class="form-check-label" for="checkbox_setDefault">
                        Accept Default as
                    </label>
                    <select class="mb-2 mr-sm-2 mb-sm-0" id="defaultAs" placeholder="Accept" [(ngModel)]="export.defaultAccpetType">
                        <option value="accept">Accept</option>
                        <option value="reject">Reject</option>
                        <option value="none">None</option>
                    </select>
                </div>

            </div>

            <div class="modal-footer justify-content-center">
                <a class="btn btn-clear btn-secondary waves-light" title="Export to JSON File" (click)="saveFile()">Export
                    to JSON</a>
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluid.hide()"
                        mdbRippleRadius>Close
                </button>
                <!--<button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Save changes</button>-->
            </div>

        </div>
    </div>


</div>

