<!-- Nav tabs -->
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>
<ul class="nav md-pills nav-justified pills-secondary">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" role="tab" aria-expanded="true">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-expanded="false">Accepted</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-expanded="false">Rejected</a>
    </li>
</ul>


<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$('#example').DataTable();-->
        <!--$('select').addClass('mdb-select');-->
        <!--$('.mdb-select').material_select();-->
    <!--});-->
<!--</script>-->

<section class="pt-5">

    <div id="example_wrapper " class="dataTables_wrapper container-fluid dt-bootstrap4 ">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="example_length"><label>Show
                    <div class="select-wrapper form-control form-control-sm mdb-select"><span
                            class="caret">▼</span><input type="text" class="select-dropdown" readonly="true"
                                                         data-activates="select-options-f52a74fd-2bb4-4471-922d-c6dc3e2ca5f8"
                                                         value="10">
                        <ul id="select-options-f52a74fd-2bb4-4471-922d-c6dc3e2ca5f8"
                            class="dropdown-content select-dropdown"
                            style="width: 100px; position: absolute; top: 0px; left: 0px; opacity: 1; display: none;">
                            <li class="active selected"><span class="filtrable">10</span></li>
                            <li class=""><span class="filtrable">25</span></li>
                            <li class=""><span class="filtrable">50</span></li>
                            <li class=""><span class="filtrable">100</span></li>
                        </ul>
                        <select name="example_length" aria-controls="example"
                                class="form-control form-control-sm mdb-select initialized">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select></div>
                    entries</label></div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div id="example_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                                                        class="form-control form-control-sm"
                                                                                        placeholder=""
                                                                                        aria-controls="example"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example" class="table table-striped table-bordered table-responsive dataTable table-hover "
                       cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                            aria-label="Name : activate to sort column ascending" style="width: 288px;">Name <i
                                class="fa fa-sort float-right" aria-hidden="true"></i></th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                            aria-label="Position : activate to sort column ascending" style="width: 416px;">Position <i
                                class="fa fa-sort float-right" aria-hidden="true"></i></th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                            aria-label="Office : activate to sort column ascending" style="width: 223px;">Office <i
                                class="fa fa-sort float-right" aria-hidden="true"></i></th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                            aria-label="Age : activate to sort column ascending" style="width: 102px;">Age <i
                                class="fa fa-sort float-right" aria-hidden="true"></i></th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                            aria-label="Start date : activate to sort column ascending" style="width: 194px;">Start date
                            <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
                        <th class="sorting_desc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                            aria-label="Salary : activate to sort column ascending" style="width: 181px;"
                            aria-sort="descending">Salary <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th rowspan="1" colspan="1">Name</th>
                        <th rowspan="1" colspan="1">Position</th>
                        <th rowspan="1" colspan="1">Office</th>
                        <th rowspan="1" colspan="1">Age</th>
                        <th rowspan="1" colspan="1">Start date</th>
                        <th rowspan="1" colspan="1">Salary</th>
                    </tr>
                    </tfoot>
                    <tbody>


                    <tr role="row" class="odd">
                        <td class="">Angelica Ramos</td>
                        <td>Chief Executive Officer (CEO)</td>
                        <td class="">London</td>
                        <td class="">47</td>
                        <td class="">2009/10/09</td>
                        <td class="sorting_1">$1,200,000</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class="">Fiona Green</td>
                        <td>Chief Operating Officer (COO)</td>
                        <td class="">San Francisco</td>
                        <td class="">48</td>
                        <td class="">2010/03/11</td>
                        <td class="sorting_1">$850,000</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="">Paul Byrd</td>
                        <td>Chief Financial Officer (CFO)</td>
                        <td class="">New York</td>
                        <td class="">64</td>
                        <td class="">2010/06/09</td>
                        <td class="sorting_1">$725,000</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class="">Yuri Berry</td>
                        <td>Chief Marketing Officer (CMO)</td>
                        <td class="">New York</td>
                        <td class="">40</td>
                        <td class="">2009/06/25</td>
                        <td class="sorting_1">$675,000</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="">Jackson Bradshaw</td>
                        <td>Director</td>
                        <td class="">New York</td>
                        <td class="">65</td>
                        <td class="">2008/09/26</td>
                        <td class="sorting_1">$645,750</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class="">Charde Marshall</td>
                        <td>Regional Director</td>
                        <td class="">San Francisco</td>
                        <td class="">36</td>
                        <td class="">2008/10/16</td>
                        <td class="sorting_1">$470,600</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="">Vivian Harrell</td>
                        <td>Financial Controller</td>
                        <td class="">San Francisco</td>
                        <td class="">62</td>
                        <td class="">2009/02/14</td>
                        <td class="sorting_1">$452,500</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class="">Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td class="">Edinburgh</td>
                        <td class="">22</td>
                        <td class="">2012/03/29</td>
                        <td class="sorting_1">$433,060</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="">Tatyana Fitzpatrick</td>
                        <td>Regional Director</td>
                        <td class="">London</td>
                        <td class="">19</td>
                        <td class="">2010/03/17</td>
                        <td class="sorting_1">$385,750</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class="">Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td class="">New York</td>
                        <td class="">61</td>
                        <td class="">2012/12/02</td>
                        <td class="sorting_1">$372,000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 10 of 57
                    entries
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="example_previous"><a href="#"
                                                                                                         aria-controls="example"
                                                                                                         data-dt-idx="0"
                                                                                                         tabindex="0"
                                                                                                         class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="example" data-dt-idx="1"
                                                                        tabindex="0" class="page-link">1</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="example" data-dt-idx="2"
                                                                  tabindex="0" class="page-link">2</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="example" data-dt-idx="3"
                                                                  tabindex="0" class="page-link">3</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="example" data-dt-idx="4"
                                                                  tabindex="0" class="page-link">4</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="example" data-dt-idx="5"
                                                                  tabindex="0" class="page-link">5</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="example" data-dt-idx="6"
                                                                  tabindex="0" class="page-link">6</a></li>
                        <li class="paginate_button page-item next" id="example_next"><a href="#" aria-controls="example"
                                                                                        data-dt-idx="7" tabindex="0"
                                                                                        class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

