/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css";
//@import "../asset/css/compiled.min.css";
//@import url("//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~font-awesome/css/font-awesome.css';

.tooltip-inner{
  background-color: #0e8ee7;
}
.tooltip.top .tooltip-arrow{
  border-top-color: #0e8ee7;
}
.modal { overflow: auto !important; }
.mdb-color {
  background-color: #fff !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1500px !important;
        margin: 30px auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}


.modal-dialog {
    max-width: 1500px !important;
    margin: 30px auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


venntooltip.venn {
  float: right;
}

.venntooltip {
  position: absolute !important;
  text-align: center;
  width: 228px;
  height: 22px;
  background: #333;
  color: #ddd;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

svg {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
}

.footer {
  clear: both;
}

#venn {
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  padding: 30px;
}
g.venn-area-part {
  cursor: pointer;
}
g.venn-area-part path {
  fill: #ffffff;
  stroke: #009fdf;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.hideIonTable{
    display: none;
    height: 0px;
  }
  #Spectra-comparer .datatable-footer-inner{
    display: block;
  }
  #Spectra-comparer .datatable-pager{
    text-align: left;
  }
  .veenShow{
    display: none;
  }
  
  .tick{
    cursor: pointer;
  }
  .showStyle{
    font-weight: 600;
  }
  .x .tick text{
    transform: rotate(-90deg)
  }

.popover {
  max-width: none !important;
}
.custom_select {
  position: relative;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  cursor: pointer;
}
.custom_button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;font-weight: 500;
  padding: 9px 15px;
  font-size: 14px;
  transition: .1s;
  border-radius: 3px;
  color: #fff;
  background-color: #27b6f0;
}
.custom_button_plain {
  color: #27b6f0;
  background: #ecf5ff;
  border-color: rgba(39, 182, 240, .7);
  &:hover {
    color: #fff;
    background-color: #27b6f0;
    border: 1px solid #dcdfe6;
  }
}
.custom_input {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 32px;
  line-height: 32px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}
.custom_input:focus {
  outline: none;
  border-color: #409eff;
}
#lorikeet{
  border: none;
  box-shadow: none;
}
// card
.card {
  padding: 1em;
  .title-wrapper {
    width:100%;
    font-size:20px;
    border-bottom:2px solid #e6e9eb;
    font-weight:bold;
    color:#45526E;
    padding-left: 10px;
    padding-bottom:5px;
    margin-bottom:0px;
    margin-top:10px;
    .title {
      padding-left: 10px;
      border-left: 6px solid rgb(39,182,240);
    }
  }
  .body-wrapper {
    // background: #eff3f6;
    margin-top: 10px;
    .table-wrapper {
      .datatable-header {
        // background: rgba(39, 182, 240, .3);
      }
      .datatable-header-cell {
        color: #0b2a41;
      }
      .ngx-datatable .datatable-body .datatable-body-row {
        // background: rgba(39, 182, 240, .3);
        // background-color: #64d6ff;
      }
    }
  }
}