/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css";
//@import "../asset/css/compiled.min.css";
//@import url("//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


.modal { overflow: auto !important; }

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1500px !important;
        margin: 30px auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}


.modal-dialog {
    max-width: 1500px !important;
    margin: 30px auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


venntooltip.venn {
  float: right;
}

.venntooltip {
  position: absolute !important;
  text-align: center;
  width: 228px;
  height: 22px;
  background: #333;
  color: #ddd;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

svg {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
}

.footer {
  clear: both;
}

#venn {
  height: 100%;
  width: 110%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  padding: 30px;
  background-color: #e6e9eb;
}
g.venn-area-part {
  cursor: pointer;
}
g.venn-area-part path {
  fill: #ffffff;
  stroke: #009fdf;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.hideIonTable{
    visibility: hidden;
    height: 0px;
  }