
    <div style="padding: 1em">
    <p class="des_content">
        Phoenix Enhancer re-analyses the results of an MS analysis by comparing to a library of 1.6 Million spectral clusters from 593 public datasets.
        It points out potential mis-identifications as may provide additional identifications. For more details please see the <a href="/help">Help</a> section.
    </p>
    </div>


<!--<p>-->
    <!--Phoenix Enhancer provides a more powerful tool to help you finding the possible false spectrum-peptide matches, assign peptides for unidentified spectra.<br>-->
<!---->
    <!--By harnessing the results from PRIDE Cluster, Phoenix Enhancer compares your PSMs and unidentified spectra to the high confident consensus spectra, to build-->
    <!--up connections between your single project results and the widely public spectra resources. This can help us mining more information from the huge abundant-->
    <!--MS/MS spectra data.-->
    <!--<br>-->
<!--</p>-->
<!--<p>-->
    <!--PhoenixEnhancer is an online service, which integrates the clustered Proteomics spectra to provide quality evaluation to individual Peptide-Spectrum-Matches (PSMs) and inferer more PSMs for individual Preteomics datasets.-->
<!--</p>-->
<!--<p>-->
    <!--Based on our released PRIDE Cluster data and a newly developed pipeline (https://github.com/phoenix-cluster/analysis-pipeline), four functionalities are provided:-->
<!--<span style="text-indent: 2em">1) Evaluate the original identifications in an individual dataset, to find low confident PSMs which could correspond to wrong identifications;-->
<!--</span>-->
<!--<span>-->
    <!--2) Provide confidence scores for all matched originally identified PSMs, to help users to evaluate the quality of each PSM (complementary to  getting a global FDR);-->
<!--</span>-->
<!--<span>-->
    <!--3) Propose new PSMs  to  originally unidentified spectra; and 4) Provide a collection of browsing and visualization tools to analyse and save the results.-->
<!--</span>-->
<!--</p>-->

<!--<p>-->
    <!--On phoenix-enhancer website, users can upload their own MS files or choose a public ProteomeXchange dataset ID the pipeline is then run on our server, and the results are provided to the users. The visualization tools indicate how the confidence scores are distributed and allow users to compare interactively the target spectrum to the consensus spectrum from matched clusters.-->

<!--</p>-->
<!--<p>-->
    <!--The phoenix-enhancer analysis pipeline and web service can help users to get more PSMs from their data and validate existing PSMs provided by standard search tools. The code is open-source,  enabling  its integration into existing proteomics analysis workflows.-->
<!--</p>-->