<p>
    Phoenix Enhancer provides a more powerful tool to help you finding the possible false spectrum-peptide matches, assign peptides for unidentified spectra.<br>

    By harnessing the results from PRIDE Cluster, Phoenix Enhancer compares your PSMs and unidentified spectra to the high confident consensus spectra, to build
    up connections between your single project results and the widely public spectra resources. This can help us mining more information from the huge abundant
    MS/MS spectra data.
    <br>
</p>
